# {{ ansible_managed }}

[ssalevan_aurora]
name=ssalevan_aurora
baseurl=https://packagecloud.io/ssalevan/aurora/el/7/$basearch
repo_gpgcheck=1
gpgcheck=0
enabled=1
gpgkey=https://packagecloud.io/ssalevan/aurora/gpgkey
sslverify=1
sslcacert=/etc/pki/tls/certs/ca-bundle.crt
metadata_expire=300

[ssalevan_aurora-source]
name=ssalevan_aurora-source
baseurl=https://packagecloud.io/ssalevan/aurora/el/7/SRPMS
repo_gpgcheck=1
gpgcheck=0
enabled=1
gpgkey=https://packagecloud.io/ssalevan/aurora/gpgkey
sslverify=1
sslcacert=/etc/pki/tls/certs/ca-bundle.crt
metadata_expire=300
