#!/bin/bash
# {{ ansible_managed }}
# Starts the Mesos slave process for cluster '{{ mesos_cluster_name }}'.

ulimit {{ mesos_ulimit_options }}

source /etc/sysconfig/mesos-slave

exec /usr/sbin/mesos-slave "${MESOS_SLAVE_ARGS[@]}"
